.panel.panel-default.nested-fields
  .panel-heading
    %h2 Credential Set
    = link_to_remove_association "Remove Credential Set", f, class: "btn btn-danger"
  .panel-body
    .row.credential-field
      .col-lg-12
        .row
          .col-lg-12
            = f.text_area :public_key
        .row
          .col-lg-12
            = f.text_area :private_key
        .row
          .col-lg-12
            = f.text_field :identifier
