.row.nested-fields.credential-field
  .col-lg-12
    .row
      .col-lg-12
        = f.text_area :public_key
    .row
      .col-lg-12
        = f.text_area :private_key
    .row
      .col-lg-12
        = f.text_field :identifier
    = link_to_remove_association "remove credentials", f
